{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <h3>Your Organizations as a volunteer!</h3>
    <p>Some info about this GUI here! Wow, all you need now is an account!</p>
    <br>
  </div>
    <div class="col-md-4">
      <h3 href="#">Information </h3>
      <br>
      <p> here's some contact info or something regarding
        how great the marjoram suite is, and a link to the real shit, marvol
        </p>

        <div class="list-group">
          <a href="{% url 'volapp:explore' %}" class="list-group-item">Explore</a>
          <a href="{% url 'volapp:group_list' %}" class="list-group-item">Groups</a>
          <a href="{% url 'volapp:group_create' %}" class="list-group-item">Create Group</a>
        </div>

        <p>You can also edit the group, volunteer list WIP</p>

    </div> {# column div #}
</div>
{% endblock %}
