<form action="" method="GET">
	<input type="text" name="" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Search</button>
      </span>
</form>
