{% extends 'base.html' %}

{% block content %}
<link href="/static/css/album.css" rel="stylesheet">

<script src="/static/library/holder.min.js"></script>

   <div class="album text-muted">
     <div class="container">
       <h1>Groups</h1>
    {% for obj in object_list %}
       <div class="row">
         <div class="card">
           <img data-src="holder.js/100px280/thumb" alt="Card image cap">
           <p class="card-text">{{ obj.description }} <a href="{% url 'group-profile' pk=obj.pk %}">View Profile</a>.</p>
   </div>
   {% endfor %}


         <h1>Organizations</h1>
         <div class="card">
           <img data-src="holder.js/100px280/thumb" alt="Card image cap">
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         </div>
         <div class="card">
           <img data-src="holder.js/100px280/thumb" alt="Card image cap">
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         </div>
         <div class="card">
           <img data-src="holder.js/100px280/thumb" alt="Card image cap">
           <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
         </div>
       </div>

     </div>
   </div>
{% endblock %}
