{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <h3>Your Organizations as a volunteer!</h3>
    <p>Some info about this GUI here! Wow, all you need now is an account!</p>
    <br>
  </div>
    <div class="col-md-4">
      <h3 href="#">Information </h3>
      <br>
      <p> here's some contact info or something regarding
        how great the marjoram suite is, and a link to the real shit, marvol
        </p>
    </div> {# column div #}
</div>
{% endblock %}
