<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Marjoram {% block title %}{% endblock %}</title>

        {# JQuery #}
        <script src="/static/library/jquery-2.1.3.min.js"></script>

        {% block styles %}
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        {% endblock %}

    </head>

    <body>
      <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="{% url 'index' %}">Marjoram</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'account_profile' pk=user.pk %}">Account</a></li>
            <li><a href="{% url 'list_organization' %}">Explore</a></li>  

            {% if user.is_authenticated %}
              <li><a href="{% url 'logout' %}?next={% url 'index' %}"> Logout</a></li>
            {% else %}
              <li><a href="{% url 'login' %}">Login</a></li>
            {% endif %}
          </ul>

        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

      <div class="container">
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
        {% else %}
            <p>Welcome, new user. Please log in.</p>
        {% endif %}

        {% block content %}
        {% endblock %}
      </div>

      <footer>
          <div class="footer container">
              {# returns year #}
              &copy; {% now "Y" %}
          </div>
      </footer>

      {# libraries #}
      <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <!-- Include all compiled plugins (below), or include individual files as needed -->
      <script src="/static/library/js/bootstrap.min.js"></script>
    </body>
</html>
