{% extends 'base.html' %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
    <li id="message_{{ forloop.counter }}"
      {% if message.tags %} class="{{ message.tags }}" .
                  {% endif %}>
              {{ message }}
            </li>
    {% endfor %}
  </ul>
{% endif %}
