{% extends 'base.html' %}

{% block content %}

<div class="row">
  <div class="col-md-8">
    <h3>Your Organizations</h3>
    <p>Some info about this GUI here! Wow, all you need now is an account!</p>
    <br>
  </div>
    <div class="col-md-4">
      <h3 href="#">Information </h3>
      <br>
      <p> here's some contact info or something regarding
        how great the marjoram suite is, and a link to the real shit, marvol
      </p>
        <ul class="list-group">
          <a class="list-group-item" href="{% url 'orgapp:about' %}">About</a>
          <a class="list-group-item" href="{% url 'orgapp:list_organization' %}">List Organizations</a>
          <a class="list-group-item" href="{% url 'orgapp:create_organization' %}">Create Organization</a>
        </ul>
    </div> {# column div #}
</div>
{% endblock %}
