{% extends 'base.html' %}
{% block content %}
<div class="row">
  <div class="col-md-8">
    <section>
      <div class="organization">
        <form action="" method="post" id="create_organization">
          {% csrf_token %}
          {{ form.as_p }}
            <a type="submit" class="btn btn-primary-success" role="button">Create</a>
          </form>
        </div>
    </section>
  </div>
  <div class="col-md-4">.column 4</div>
</div>
{% endblock %}
