{% extends 'base.html' %}

{% block content %}
<br>
<h1 class="heading">Created Organizations</h1>
  <div class="row">
    <div class="col-md-8">
    <section>
        <section>
            {% for obj in object_list %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">{{ obj.name }}</h3>
              </div>
              <div class="panel-body">
                {{ obj.description }}
              </div>
              <ul class="list-group">
                <li class="list-group-item"><strong>Phone:</strong> {{ obj.phone }}</li>
                <li class="list-group-item"><strong>Email:</strong> {{ obj.email }}</li>
                <li class="list-group-item"><strong>Address:</strong> {{ obj.address }}</li>
                <li class="list-group-item"><strong>Max Volunteers:</strong> {{ obj.max_volunteers }}</li>
                <li class="list-group-item"><strong>Min Volunteers:</strong> {{ obj.min_volunteers }}</li>
                <li class="list-group-item"><a href="{% url 'orgapp:organization_profile' pk=obj.pk %}">View Profile</a></li>
              </ul>
            </div>
            {% endfor %}
        </section>
    </section>
  </div>
  <div class="col-md-4">
    {% include "includes/search.html" %}
    <br>
    <form action="" method="get" class="filters">
        {% for form in form %}

            {{ form.errors }}
            {{ form }}
        {% endfor %}
        <br>
        <div class="form-actions">
            <input type="submit" class="btn btn-primary" value="Filter Organization">
        </div><br>
    </form>
  </div>
</div>
{% endblock %}
