{% extends 'base.html' %}

{% block content %}

  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">{{ object.name }}</h3>
    </div>
    <div class="panel-body">
      {{ object.description }}
    </div>
    <ul class="list-group">
      <li class="list-group-item"><strong>Phone:</strong> {{ object.phone }}</li>
      <li class="list-group-item"><strong>Email:</strong> {{ object.email }}</li>
      <li class="list-group-item"><strong>Address:</strong> {{ object.address }}</li>
      <li class="list-group-item"><strong>Max Volunteers:</strong> {{ object.max_volunteers }}</li>
      <li class="list-group-item"><strong>Min Volunteers:</strong> {{ object.min_volunteers }}</li>
    </ul>
  </div>

  <a class="btn btn-default" href="{% url 'orgapp:organization_settings' pk=object.pk %}" role="button">Edit Profile</a>
{% endblock %}
